* {
    font-size: 13px;
}

.topo {
    padding-top: 0;
}

.titulo {
    text-align: center;
    border: 0 !important;
    padding: 0 auto !important;

}

#titulo_content > .ui-panel-content, .ui-widget-content{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#centro {
    height: 1024px;
}

#login {
    text-align: right;
}

.rodape {
    border: 0 !important;
    text-align: center;
}

/*desabilita as bordas do panelgrid*/
.ui-panelgrid tr, .ui-panelgrid td {
    border: 0 !important;
    clear: both;
}

/*form centralizado...*/
#formPesquisa {
    width: 1200px;
    /*height: 200px;*/
    margin-left: -600px; /* metade da largura */
    position: absolute;
    left: 50%;
}

.panelNoBorder {
    border: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.cellItalicNoBorder {
    border: 0 !important;
    font-style: italic;
}

.centered {
    /*display: block;*/
    text-align: center;
    margin: 0 auto;
}

/*Alinha o icone dentro do botão
.ui-button-icon-left {
    width: 32px !important;
    height: 32px !important;
    padding-left: 0;
    margin-left: -10px;
    padding-top: 2px;
    text-align: center;

}*/